.billboard{
	/*position: absolute;*/
	top: 80px;
	/*bottom: 80px;*/
	width: 100%;
	/*height: auto;*/
	height: 1070px;
}
.content{
	/*padding-bottom: 100px;*/
	padding-bottom: 50px;
}
.main .poster{
	height: 600px;
	background-size: cover;
}
.main .poster h1{
	font-size: 100px;
	line-height: 1.25em;
	margin-left: 6%;
	padding-top: 100px;
	width: 550px;
	text-align: left;
	left: 0;
}
.main .art-menu{
	display:block;
}
.main .title{
	background: #fff;
	padding: 80px 20px 20px;
	color: #000;
	letter-spacing: 0.125em;
	text-align: center;
	border-bottom: none;
}
.main .title h1{
	font-size: 50px;
	font-weight: 100;
}
.subhead{
	padding: 20px 20px 20px 40px;
	width: 65%;
}
.section{
	/*padding: 20px 20px 100px 40px;*/
	padding: 60px 20px 60px 40px;
	position: relative;
}
.section .copy,
.section .charts{
	display:inline-block;
	vertical-align: top;
	width: 40%;
}
.charts, .copy p{
	display:block;
}
.copy h1{
	font-size: 40px;
	padding: 0;
	text-transform: capitalize;
	font-weight: bold;
	display:inline;
	border-bottom: none;
}
.copy h1:before{
	content: "";
}
.copy p{
	font-size: 1.25em;
	font-weight: 100;
	padding-top: 30px;
}
.section .charts{
	/*position: absolute;*/
	/*right: 0;*/
	margin-left: 12%;
}
.charts li{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 0 20px 20px 0;
	/*width: 30%;*/
	width: 40%;
}
.charts li a{
	/*padding: 20px 40px;*/
	background: #E3EAEA;
	border:1px solid #fff;
	color: #585556;
	display: block;
	height: 80px;
	/*line-height: 5em;*/
	padding-top: 1.75em;
}
.section.alt{
	background: url(img/desk-back.jpg) no-repeat;
	background-size: cover;
}
.section.alt .copy{
	float: right;
	/*float: left;*/
	margin-right: 8%;
}
.section.alt .charts{
	margin-left: 0;
	margin-right: 12%;
	width: 33%;
}
.section.alt .charts li{
	float: right;
}
.section.alt .charts li a{
	background: #585556;
	border-color: #585556;
	color: #fff;
}
.section .charts li a:hover{
	border:1px solid #D9272E;
	background: none;
	color: #D9272E;
}