            <div class="mega-menu btm menu-lang" style="display:none">
                <div class="footer-menu-back">
                    <span class="icon icon-keyboard_arrow_left"></span>
                    <span class="title">Language</span>
                </div>
                <div class="col two-col">
                    <p>Choose your language</p>
                </div>
                <ul class="col two-col">
                    <li><a href="http://ar.biamp.com"><span>لعَرَبِيةُ</span></a></li>
                    <li><a href="http://cn.biamp.com"><span>中文</span></a></li>
                    <li><a href="#"><span>Deutsch</span></a></li>
                    <li><a href="#"><span>English</span></a></li>
                    <li><a href="#"><span>Español</span></a></li>
                </ul>
            </div>

            <div class="mega-menu btm menu-prod" style="display:none">
                <div class="footer-menu-back">
                    <span class="icon icon-keyboard_arrow_left"></span>
                    <span class="title">Products</span>
                </div>
                <div class="col two-col">
                    <p>Biamp Products</p>
                </div>
                <ul class="col four-col">
                    <li><a href="#"><span>Discontinued Products</span></a></li>
                    <li><a href="#"><span>AudiaEXPI</span></a></li>
                    <li><a href="#"><span>AudiaEXPI/O-2</span></a></li>
                    <li><a href="#"><span>AudiaEXPI-4</span></a></li>
                    <li><a href="#"><span>AudiaEXPO</span></a></li>
                    <li><a href="#"><span>AudiaEXPO-4</span></a></li>
                    <li><a href="#"><span>AudiaFLEX</span></a></li>
                    <li><a href="#"><span>AudiaFUSION</span></a></li>
                    <li><a href="#"><span>Biamp Canvas</span></a></li>
                    <li><a href="#"><span>CM1</span></a></li>
                    <li><a href="#"><span>Logic Box</span></a></li>
                    <li><a href="#"><span>Nexia CS</span></a></li>
                </ul>
                <ul class="col four-col">
                    <li><a href="#"><span>Nexia PM</span></a></li>
                    <li><a href="#"><span>Nexia SP</span></a></li>
                    <li><a href="#"><span>Nexia TC</span></a></li>
                    <li><a href="#"><span>Nexia VC</span></a></li>
                    <li><a href="#"><span>NPS-1</span></a></li>
                    <li><a href="#"><span>Oreno</span></a></li>
                    <li><a href="#"><span>RCB Hub</span></a></li>
                    <li><a href="#"><span>RED-1</span></a></li>
                    <li><a href="#"><span>RED-1F</span></a></li>
                    <li><a href="#"><span>Select 8</span></a></li>
                    <li><a href="#"><span>Tesira AMP-4175R</span></a></li>
                    <li><a href="#"><span>Tesira AMP-4300R CV</span></a></li>
                </ul>
                <ul class="col four-col">
                    <li><a href="#"><span>Tesira AMP-4350R</span></a></li>
                    <li><a href="#"><span>Tesira AMP-8150R</span></a></li>
                    <li><a href="#"><span>Tesira EX-IN</span></a></li>
                    <li><a href="#"><span>Tesira EX-IO</span></a></li>
                    <li><a href="#"><span>Tesira EX-LOGIC</span></a></li>
                    <li><a href="#"><span>Tesira EX-MOD</span></a></li>
                    <li><a href="#"><span>Tesira EX-OUT</span></a></li>
                    <li><a href="#"><span>Tesira HD-1</span></a></li>
                    <li><a href="#"><span>Tesira SERVER</span></a></li>
                    <li><a href="#"><span>Tesira SERVER-IO</span></a></li>
                    <li><a href="#"><span>Tesira TEC-1i</span></a></li>
                    <li><a href="#"><span>Tesira TEC-1s</span></a></li>
                </ul>
                <ul class="col four-col">
                    <li><a href="#"><span>TesiraFORT&#201;</span></a></li>
                    <li><a href="#"><span>Vocia ANC-1</span></a></li>
                    <li><a href="#"><span>Vocia CI-1</span></a></li>
                    <li><a href="#"><span>Vocia DS-10</span></a></li>
                    <li><a href="#"><span>Vocia DS-4</span></a></li>
                    <li><a href="#"><span>Vocia ELD-1</span></a></li>
                    <li><a href="#"><span>Vocia EWS-10</span></a></li>
                    <li><a href="#"><span>Vocia EWS-4</span></a></li>
                    <li><a href="#"><span>Vocia IM-16</span></a></li>
                    <li><a href="#"><span>Vocia LSI-16</span></a></li>
                    <li><a href="#"><span>Vocia LSI-16e</span></a></li>
                    <li><a href="#"><span>Vocia MS-1e</span></a></li>
                </ul>
                <ul class="col four-col">
                    <li><a href="#"><span>Vocia PARM-1</span></a></li>
                    <li><a href="#"><span>Vocia PLD</span></a></li>
                    <li><a href="#"><span>Vocia TTS-1e</span></a></li>
                    <li><a href="#"><span>Vocia TTS-1nce</span></a></li>
                    <li><a href="#"><span>Vocia VA-2060</span></a></li>
                    <li><a href="#"><span>Vocia VA-2060e</span></a></li>
                    <li><a href="#"><span>Vocia VA-4030</span></a></li>
                    <li><a href="#"><span>Vocia VA-4030e</span></a></li>
                    <li><a href="#"><span>Vocia VA-4300CV</span></a></li>
                    <li><a href="#"><span>Vocia VA-8150CV</span></a></li>
                    <li><a href="#"><span>Vocia VA-8600</span></a></li>
                    <li><a href="#"><span>Vocia VA-8600c</span></a></li>
                </ul>
                <ul class="col four-col">
                    <li><a href="#"><span>Vocia VFOM</span></a></li>
                    <li><a href="#"><span>Vocia VI-6</span></a></li>
                    <li><a href="#"><span>Vocia VI-8</span></a></li>
                    <li><a href="#"><span>Vocia VO-4</span></a></li>
                    <li><a href="#"><span>Vocia WR-1</span></a></li>
                    <li><a href="#"><span>Vocia WS-10</span></a></li>
                    <li><a href="#"><span>Vocia WS-4</span></a></li>
                    <li><a href="#"><span>Voltage Control Box</span></a></li>
                    <li><a href="#"><span>Volume 8</span></a></li>
                    <li><a href="#"><span>Volume/Select 8</span></a></li>
                </ul>
            </div>

            <div class="footer">
                <div class="share">
                    <span class="title">Share this page</span>
                    <ul>
                        <li><a href="#" class="twitter"><span class="icon icon-twitter"></span></a></li>
                        <li><a href="#" class="facebook"><span class="icon icon-facebook"></span></a></li>
                        <li><a href="#" class="linkedin"><span class="icon icon-linkedin"></span></a></li>
                    </ul>
                </div>
                <ul class="footer-menu">
                    <li class="phone"><a href="tel:+1-503-541-7287">503.541.7287</a></li>
                    <li class="blog"><a href="#">Blog</a></li>
                    <li class="buy"><a href="#">How to buy</a></li>
                    <li class="products"><a>Biamp Products A-Z<span class="icon"></span></a></li>
                    <li class="language"><a>English<span class="icon"></span></a></li>
                </ul>
            </div>
        </div>

        <script type="text/javascript" src="scripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="scripts/jquery-ui.min.js"></script>
        <script type="text/javascript" src="scripts/jssor.js"></script>
        <script type="text/javascript" src="scripts/jssor.slider.js"></script>
        <script type="text/javascript" src="scripts/mega-menu.js"></script>
        <script>

            $(document).click(function ()
            {
                clearAllDesktop();
                topClose();
                footerClose();

                clearAll();
            });


            function clearAll()
            {
                $("#servers-subnav").hide();
                $("#forte-subnav").hide();
                $("#amps-subnav").hide();
                $("#expanders-subnav").hide();
                $("#controls-subnav").hide();
            }


            function clearAllDesktop()
            {
                $("#servers-subnav-desktop").hide();
                $("#forte-subnav-desktop").hide();
                $("#amps-subnav-desktop").hide();
                $("#expanders-subnav-desktop").hide();
                $("#controls-subnav-desktop").hide();
            }


            var serverSubNav = document.getElementById("servers-subnav-desktop");
            var forteSubNav = document.getElementById("forte-subnav-desktop");
            var ampSubNav = document.getElementById("amps-subnav-desktop");
            var expanderSubNav = document.getElementById("expanders-subnav-desktop");
            var controlSubNav = document.getElementById("controls-subnav-desktop");

            var servers = document.getElementById("servers-subnav");
            var forte = document.getElementById("forte-subnav");
            var amps = document.getElementById("amps-subnav");
            var expanders = document.getElementById("expanders-subnav");
            var controls = document.getElementById("controls-subnav");


            $(document).ready(function ()
            {


                $("#servers-link").click(function (e)
                {
                    e.stopPropagation();
                    if (serverSubNav.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAllDesktop();
                        $("#servers-subnav-desktop").show();
                    }
                    else
                    {
                        $("#servers-subnav-desktop").hide();
                    }

                });
                $("#forte-link").click(function (e)
                {
                    e.stopPropagation();
                    if (forteSubNav.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAllDesktop();
                        $("#forte-subnav-desktop").show();
                    }
                    else
                    {
                        $("#forte-subnav-desktop").hide();
                    }

                });
                $("#amplifiers-link").click(function (e)
                {
                    e.stopPropagation();
                    if (ampSubNav.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAllDesktop();
                        $("#amps-subnav-desktop").show();
                    }
                    else
                    {
                        $("#amps-subnav-desktop").hide();
                    }

                });
                $("#expanders-link").click(function (e)
                {
                    e.stopPropagation();
                    if (expanderSubNav.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAllDesktop();
                        $("#expanders-subnav-desktop").show();
                    }
                    else
                    {
                        $("#expanders-subnav-desktop").hide();
                    }

                });
                $("#controls-link").click(function (e)
                {
                    e.stopPropagation();
                    if (controlSubNav.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAllDesktop();
                        $("#controls-subnav-desktop").show();
                    }
                    else
                    {
                        $("#controls-subnav-desktop").hide();
                    }

                });


                $("#servers").click(function (e) {
                    e.stopPropagation();
                    if (servers.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAll();
                        $("#servers-subnav").show();
                    }
                    else
                    {
                        $("#servers-subnav").hide();
                    }
                });
                $("#forte").click(function (e)
                {
                    e.stopPropagation();
                    if (forte.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAll();
                        $("#forte-subnav").show();
                    }
                    else
                    {
                        $("#forte-subnav").hide();
                    }
                });
                $("#amps").click(function (e)
                {
                    e.stopPropagation();
                    if (amps.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAll();
                        $("#amps-subnav").show();
                    }
                    else
                    {
                        $("#amps-subnav").hide();
                    }
                });
                $("#expanders").click(function (e)
                {
                    e.stopPropagation();
                    if (expanders.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAll();
                        $("#expanders-subnav").show();
                    }
                    else
                    {
                        $("#expanders-subnav").hide();
                    }
                });
                $("#controls").click(function (e)
                {
                    e.stopPropagation();
                    if (controls.style.display == 'none')
                    {
                        topClose();
                        footerClose();
                        clearAll();
                        $("#controls-subnav").show();
                    }
                    else
                    {
                        $("#controls-subnav").hide();
                    }
                });


                function ScaleSlider()
                {
                    var bodyWidth = document.body.clientWidth;
                    if (bodyWidth)
                        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
                    else
                        $Jssor$.$Delay(ScaleSlider, 30);
                }


                //carousel settings
                var options =
                {
                    $AutoPlay: true,
                    $Idle: 7000,
                    $DragOrientation: 0
                };


                var jssor_slider1 = new $JssorSlider$("slider1_container", options);
                ScaleSlider();
                $Jssor$.$AddEvent(window, "load", ScaleSlider);
                $Jssor$.$AddEvent(window, "resize", $Jssor$.$WindowResizeFilter(window, ScaleSlider));
                $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);

            });


        </script>

    </body>
</html>