/*VoIP page Desktop CSS*/
.voip .poster{
	background: url(img/VOIP_bkg.jpg) no-repeat;
	background-size: cover;
	min-height: 400px;
	position: relative;
	color: {{site.voip}};
}
.voip .poster a{
	/*color: {{site.voip}};*/
	color: {{site.darkGrey}};
}
.voip .poster .dial{
	position: absolute;
	width: 50%;
	height: 60%;
	/*top: 15.5%;*/
	top: 15%;
	left: -13%;
}
.voip .poster .dial.one{
	background: url(img/voip_dial_under.png) no-repeat;
	background-size: cover;
}
.voip .poster .dial.two{
	background: url(img/voip_dial_over.png) no-repeat;
	background-size: cover;
	/*top: 13%;*/
	/*left: -12.5%;*/
}
.voip .poster .title{ position: absolute; top: 11%; left: 10%; }
.voip .poster .title.one		{ top: 16%; left: 25%; }
.voip .poster .title.two		{ top: 27%; left: 34%; }
.voip .poster .title.three	{ top: 38%; left: 37%; }
.voip .poster .title.four		{ top: 49%; left: 36%; }
.voip .poster .title.five		{ top: 60%; left: 33%; }
.voip .poster .title.six			{ top: 70%; left: 25%; }
.voip .poster .text{
	position: absolute;
	top: 35%;
	left: 57%;
	width: 38%;
	/*height: 40%;*/
	font-size: 1.25em;
	line-height: 1.5em;
	display:none;
}
.voip .poster .text p{
	padding-bottom: 1.25em;
}