.nms{

}
.nms .poster{
	background: url('img/nms-hero.jpg') 50% no-repeat;
	background-size: cover;
	height: 220px;
}
.markers,
.pop-ups,
.side-nav{
	display:none;
}
.side-nav{
	position: absolute;
	right: 20px;
	padding-top: 100px;
	z-index: 700;
}
.side-nav:after{
	content: "";
	width: 10px;
	height: 150px;
	z-index: 0;
	position: absolute;
	/*top: 110px;*/
	top: 15px;
	right: -5px;
	border-left: 1px solid {{ site.red }};
}
.side-nav li{
	text-align: right;
	font-size: 16px;
	margin-bottom: 20px;
	color: transparent;
}
.side-nav li.focus,
.side-nav li:hover{
	cursor: pointer;
	color: {{ site.red }};
}
.side-nav li:after{
	content: "";
	position: relative;
	top: 2px;
	width: 10px;
	height: 10px;
	z-index: 10;
	display: inline-block;
	margin-left: 20px;
	transform: rotate(45deg);
	background: #fff;
	border: 1px solid {{ site.red }};
}
.side-nav li.focus:after,
.side-nav li:hover:after{
	background: {{ site.red }};
}
.section{
	padding: 7%;
	text-align: center;
}
.section h1{
	font-size: 1.75em;
	font-weight: 200;
	text-transform: uppercase;
}
.section.two h1:before,
.section.two h1:after{
	position: relative;
	top: -0.275em;
	/*width: 80px;*/
	width: 7%;
	height: 2px;
	background: #000;
	content: "";
	display: inline-block;
	margin-right: 0.275em;
}
.section.two h1:after{ margin-left: 0.275em; }
.section h2{
	font-size: 1.25em;
	font-weight: 700;
	margin: 1em 0;
}
.section p{
	margin-bottom: 1em;
	line-height: 1.25em;
	letter-spacing: 0.05em;
}
.side-nav li,
.section p.em{
	font-family: 'Archer', serif;
	font-style: italic;
	font-size: 1em;
}
.section img{
	width: 100%;
}
.section.four.alt{
	/*background: #F1F1F1;*/
	background: {{ site.paleGrey }};
}
.section.three{
	border-top: 2px solid {{ site.grey60 }};
}
.section.three img{
	width: 70%;
	margin-top: 50px;
}
.bottom.nav{

}
.bottom.nav li{
	background: url('img/bottom-nav-one.jpg') no-repeat;
	background-size: cover !important;
	/*background-size: contain !important;*/
	height: 180px;
	background-position: 50% 50%;
}
.bottom.nav li:nth-child(2){	background: url('img/bottom-nav-two.jpg') no-repeat;}
.bottom.nav li:nth-child(3){	background: url('img/bottom-nav-three.jpg') no-repeat;}
.bottom.nav li a{
	text-transform: uppercase;
	background: rgba(255,255,255,0.75);
	font-weight: bold;
	padding: 35px 0;
	display: block;
	width: 200px;
	font-size: 1.5em;
	text-align: center;
	height: 100px;
	margin: 0 auto;
	position: relative;
	top: 40px;
}
.bottom.nav li a:hover,
.bottom.nav li a{
	color: #000;
	text-decoration: none;
}