
	/* FONT STYLES
	--------------------------------------------------------- */
 
	@font-face 
	{
		font-family: 'BigNoodleTitlingOblique';
		src: url('../fonts/2F5E63_0_0.eot');
		src: url('../fonts/2F5E63_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F5E63_0_0.woff2') format('woff2'),url('webfonts/2F5E63_0_0.woff') format('woff'),url('webfonts/2F5E63_0_0.ttf') format('truetype');
	}
 
    
	@font-face 
	{
		font-family: 'BigNoodleTitling';
		src: url('../fonts/2F5E63_2_0.eot');
		src: url('../fonts/2F5E63_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2F5E63_2_0.woff2') format('woff2'),url('webfonts/2F5E63_2_0.woff') format('woff'),url('webfonts/2F5E63_2_0.ttf') format('truetype');
	}



	/* GLOBAL STYLES
	--------------------------------------------------------- */

    body, .wrapper
    {
        margin: 0px;
        background: #ffffff;
    }



	/* GLOBAL HYPERLINK STYLES
	--------------------------------------------------------- */

    a
    {
        outline: none;
        text-shadow: none;
    }


    .wrapper a 
    {
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #08c;
        text-decoration: none;
        word-wrap: break-word;
    }


    .wrapper a:hover 
    {
        text-decoration: underline;
    }


    .wrapper a[href] 
    {
        cursor: pointer;
    }



	/* HEADER STYLES
	--------------------------------------------------------- */

    header
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #4e4e4e;
        margin: 0px auto;
        display: block;
    	z-index: 1000;
    }
    
    
    header:after 
    {
        content: '';
        display: block;
        clear: both;
    }


    .global-header 
    {
        margin: 0;
        max-width: 100% !important;
    }


    global-header-nav 
    {
        display: table;
        position: relative;
        padding: 10px 0;
        margin: 0 auto;
        width: 100% !important;
    }


   .nav-left 
    {
        position: relative;
        float: left;
        width: auto;
        display: inline-block;
    }


    .nav-right 
    {
        position: relative;
        float: right;
        width: auto;
        display: inline-block;
    }


    .nav-fill 
    {
        width: auto;
        overflow: hidden;
        white-space: nowrap;
    }


    .global-header-menu 
    {
        display: table-cell;
        width: 60px;
        height: 50px;
        padding-left: 10px;
        vertical-align: middle;
    }


    .global-header-logo 
    {
        display: table-cell;
        width: 179px;
        height: 50px;
        padding-left: 10px;
        vertical-align: middle;
    }


    .logo 
    {
        display: block;
        width: 115px;
        height: 40px;
        margin: 0 10px 0 0;
        padding: 0 10px 0 0;
        background-image: url("../images/logo2.png");
        background-size: 115px 40px;
        background-position: left center;
        background-repeat: no-repeat;
        border-right: none;
    }


    .global-header-nav-links 
    {
        display: inline-block;
        height: 50px;
        vertical-align: middle;
        text-align: right;
        padding-right: 10px;
    }


    .global-header-nav-links ul 
    {
        margin: 0;
        padding: 10px 0 0 0;
        list-style: none;
    }


    .global-header-nav-links ul li
    {
        display: -moz-inline-stack;
        display: inline-block;
    }


    .global-header-nav-links ul li a 
    {
        display: block;
        margin-left: 7px;
        margin-right: 7px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        font-size: 13px;
        font-weight: normal;
        color: #ffffff;
        height: 30px;
        line-height: 30px;
        border-bottom: 2px solid transparent;
    }


    .global-header-nav-links ul li a:hover 
    {
        text-decoration: none;
    }
 

    .global-header-nav-links ul li.li-account-link 
    {
        vertical-align: middle;
        border: none;
    }


    .global-header-nav-links ul li.li-account-link:hover
    {
        border: none;
    }


    .global-header-nav-links a span
    {
        color: #ffffff;
    }


    .global-header-nav-links .global-account-link
    {
        font-size: 12px;
        line-height: 14px;
    }


    .global-header-nav-links .global-account-link span
    {
        font-weight: bold;
    }


    .global-header-nav-links ul li a.global-header-link:hover span 
    {
        border-bottom: 2px solid #e93726;
    }


    .nav-flyout 
    {
        position: absolute;
        display: none;
        background: #ffffff;
        border: 1px solid #bbbbbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 14px;
        margin: 0;
        -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
        -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.13);
        -ms-user-select: none;
        zoom: 1;
        -webkit-transform: translate3d(0,0,0);
        font-size: 13px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        line-height: normal;
        text-align: left;
        z-index: 100;
    }


    .nav-flyout .nav-account-arrow 
    {
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #cccccc;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: -9px;
        left: 107px;
    }


    .nav-flyout .nav-account-arrow-inner 
    {
        border-style: solid;
        border-width: 9px;
        border-color: transparent;
        border-top-width: 0;
        border-bottom: 9px solid #ffffff;
        width: 0;
        height: 0;
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 1px;
        left: -9px;
    }


    #account-flyout 
    {
        display: block;
        left: -65px;
        top: 50px;
    }


/*
    .global-header-menu .flyout-content .has-subnav 
    {
        background-image: url(data:image/gif;base64,R0lGODlhBwAKAMIEAObm5uvr6/Dw8P39/f///////////////yH5BAEKAAcALAAAAAAHAAoAAAMWSDPUGoE5AaIj1M4qMW+ZFDYD1ClnAgA7);
        background-position: right 3px;
        background-repeat: no-repeat;
    }
*/


    #account-signin
    {
	    text-align: center
    }


    .signin-button, .signin-button:link
    {
	    display: block;
	    height: 33px;
	    margin: 0 10px 0 11px;
	    cursor: pointer;
	    outline: 0;
	    border: 1px solid;
	    border-color: #c89411 #b0820f #99710d;
	    -webkit-border-radius: 3px 3px 3px 3px;
	    -moz-border-radius: 3px 3px 3px 3px;
	    border-radius: 3px 3px 3px 3px;
	    border-radius: 0\9;
	    -webkit-box-shadow: inset 0 1px 0 0 #fcf3dc;
	    -moz-box-shadow: inset 0 1px 0 0 #fcf3dc;
	    box-shadow: inset 0 1px 0 0 #fcf3dc;
	    background: #f3ce72;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF8E3AD', endColorstr='#FFEEBA37', GradientType=0);
	    background: linear-gradient(to bottom,#f8e3ad,#eeba37);
	    background: -moz-linear-gradient(top,#f8e3ad,#eeba37);
	    background: -webkit-linear-gradient(top,#f8e3ad,#eeba37);
	    background: -o-linear-gradient(top,#f8e3ad,#eeba37);
	    background: -ms-linear-gradient(top,#f8e3ad,#eeba37);
	    text-align: center;
	    line-height: 31px;
	    vertical-align: middle;
	    color: #111111;
	    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
	    text-decoration: none;
	    line-height: 30px;
	    font-size: 13px;
    }


    .signin-button:focus, .signin-button:hover, .signin-button:link:focus, .signin-button:link:hover
    {
	    background: #f1c65a;
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF6DA95', endColorstr='#FFECB21F', GradientType=0);
	    background: linear-gradient(to bottom,#f6da95,#ecb21f);
	    background: -moz-linear-gradient(top,#f6da95,#ecb21f);
	    background: -webkit-linear-gradient(top,#f6da95,#ecb21f);
	    background: -o-linear-gradient(top,#f6da95,#ecb21f);
	    background: -ms-linear-gradient(top,#f6da95,#ecb21f);
	    text-decoration: none;
    }


    .signin-button:active, .signin-button:link:active
    {
	    background: #eeba37;
	    -webkit-box-shadow: inset 0 1px 3px 0 #b0820f;
	    -moz-box-shadow: inset 0 1px 3px 0 #b0820f;
	    box-shadow: inset 0 1px 3px 0 #b0820f
    }


    .signin-button .signin-text, .signin-button:link .signin-text
    {
	    color: #111111;
	    display: block;
	    text-align: center;
    }


    #account-signin .account-signin-footer
    {
	    padding-top: 5px;
	    color: #333333;
	    font-size: 11px;
    }


    #account-signin .account-signin-footer a
    {
	    display: inline-block;
    	font-size: 11px;
        margin: 0;
        padding: 0;
    }


    #account-signin .account-signin-footer .new-user
    {
	    color: #05a;
	    text-decoration: none;
    }


    #account-signin .account-signin-footer .new-user:hover
    {
	    color: #e47911;
    }


    .account-links
    {
        width: 210px;
    }


    .account-links .item
    {
        position: relative;
        display: block;
        clear: both;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        line-height: 16px;
        padding: 0 0 0 0;
        margin: 0;
        text-decoration: none;
        cursor: default;
    }


    .account-links .item:focus 
    {
        text-decoration: underline;
        color: #e47911;
        outline: 0;
    }


    .account-links .item:focus .link-text 
    {
        color: #e47911;
    }


    .account-links .link-text, .hamburger-links > span 
    {
        display: block;
        font-size: 13px;
        color: #444444;
        font-weight: normal;
        white-space: normal;
        word-wrap: break-word;
    }
    

    .account-links .link 
    {
        cursor: pointer;
    }


    .account-links .link:focus, .account-links .link:hover 
    {
        text-decoration: none;
    }


    .account-links .link:hover .link-text 
    {
        color: #e47911;
        text-decoration: underline;
    }


    .account-links .nav-divider, #account-signin .nav-divider, .hamburger-links .nav-divider
    {
        position: relative;
        display: block;
        line-height: 1px;
        height: 1px;
        overflow: hidden;
        background: #eeeeee;
        margin: 0 0 15px 0;
    }



    /*    -ms-touch-action: pan-x pan-y pinch-zoom;*/

	/* SEARCH STYLES
	--------------------------------------------------------- */




	/* CAROUSEL STYLES
	--------------------------------------------------------- */

	.slider_container
	{
		position: relative; 
		top: 0px; 
		left: 0px; 
		margin: 0 auto; 
		width: 1400px; 
		height: 370px;
	}
	
	
	.slides
	{
		cursor: move; 
		position: absolute; 
		left: 0px; 
		top: 0px; 
		width: 1400px; 
		height: 370px; 
		overflow: hidden;
	}
	
	
    .jssora03l, .jssora03r 
    {
        display: block;
        position: absolute;
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url(../images/a15.png) no-repeat;
        overflow: hidden;
    }


    .jssora03l 
    {
        background-position: -3px -33px;
        top: 123px; 
        left: 8px;
    }


    .jssora03r 
    {
        background-position: -63px -33px;
        top: 123px; 
        right: 8px;
    }


    .jssora03l:hover 
    {
        background-position: -123px -33px;
    }


    .jssora03r:hover 
    {
        background-position: -183px -33px;
    }


    .jssora03l.jssora03ldn 
    {
        background-position: -243px -33px;
    }


    .jssora03r.jssora03rdn
    {
        background-position: -303px -33px;
    }



	/* HEX FLIPPER STYLES
	--------------------------------------------------------- */

	.flip-container 
	{
	    -webkit-perspective: 1000;
	    -moz-perspective: 1000;
	    -ms-perspective: 1000;
	    perspective: 1000;
	    -ms-transform: perspective(1000px);
	    -moz-transform: perspective(1000px);
	    -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	    border: none;
	}


    /* START: Accommodating for IE */
    .flip-container:hover .back, .flip-container.hover .back 
    {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }


    .flip-container:hover .front, .flip-container.hover .front 
    {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

	/* END: Accommodating for IE */


	.flip-container, .front, .back 
	{
	    width: 140px;
	    height: 160px;
	}
	
	
	.flipper 
	{
	    -webkit-transition: 0.6s;
	    -webkit-transform-style: preserve-3d;
	    -ms-transition: 0.6s;
	    -moz-transition: 0.6s;
	    -moz-transform: perspective(1000px);
	    -moz-transform-style: preserve-3d;
	    -ms-transform-style: preserve-3d;
	    transition: 0.6s;
	    transform-style: preserve-3d;
	    position: relative;
	}


	.front, .back 
	{
	    -webkit-backface-visibility: hidden;
	    -moz-backface-visibility: hidden;
	    -ms-backface-visibility: hidden;
	    backface-visibility: hidden;
	    -webkit-transition: 0.6s;
	    -webkit-transform-style: preserve-3d;
	    -webkit-transform: rotateY(0deg);
	    -moz-transition: 0.6s;
	    -moz-transform-style: preserve-3d;
	    -moz-transform: rotateY(0deg);
	    -o-transition: 0.6s;
	    -o-transform-style: preserve-3d;
	    -o-transform: rotateY(0deg);
	    -ms-transition: 0.6s;
	    -ms-transform-style: preserve-3d;
	    -ms-transform: rotateY(0deg);
	    transition: 0.6s;
	    transform-style: preserve-3d;
	    transform: rotateY(0deg);
	    position: absolute;
	    top: 0;
	    left: 0;
	}


	.front 
	{
	    -webkit-transform: rotateY(0deg);
	    -ms-transform: rotateY(0deg);
	    z-index: 2;
	    background: url(../images/hex-front.png) 0 0 no-repeat;
	}
	
	
	.back 
	{
	    -webkit-transform: rotateY(-180deg);
	    -moz-transform: rotateY(-180deg);
	    -o-transform: rotateY(-180deg);
	    -ms-transform: rotateY(-180deg);
	    transform: rotateY(-180deg);
	    background: url(../images/hex-back.png) 0 0 no-repeat;
	}


	.front .name, .back .name 
	{
	    font-size: 2em;
	    display: inline-block;
	    background: rgba(33, 33, 33, 0.9);
	    color: #f8f8f8;
	    font-family: Courier;
	    padding: 5px 10px;
	    border-radius: 5px;
	    bottom: 60px;
	    left: 25%;
	    position: absolute;
	    text-shadow: 0.1em 0.1em 0.05em #333;
	    display: none;
	    -webkit-transform: rotate(-20deg);
	    -moz-transform: rotate(-20deg);
	    -ms-transform: rotate(-20deg);
	    transform: rotate(-20deg);
	}



	/* CONTENT STYLES
	--------------------------------------------------------- */
 
	.content 
    {
        margin: 50px 0 50px 0;
        padding: 20px 0 0 0;
        background-color: #ffffff;
    }


    .copy 
    {
        margin: 0 25px 0 25px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    }


    .product-nav
    {
        display: -moz-inline-stack; 
        display: inline-block; 
        padding: 0; 
        margin: 0; 
        list-style: none; 
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        border-top: 1px solid #444444;
        border-bottom: 1px solid #444444; 
        width: 100%;
    }


    .product-nav li
    {
        display: -moz-inline-stack; 
        display: inline-block;
        width: 23%; 
        text-align: center;
        padding: 15px 0 15px 0;
    }


    .product-nav li:hover 
    {
        color: #e93726;
        cursor: pointer;
    }


    .overview
    {
        width: 100%;
        margin: 160px 0 0 0;
        padding: 0 0 80px 0;
        border-bottom: 1px solid #cccccc;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    }


    .callout, .overview-copy
    {
        float: left;
    }


	.callout
	{
		font-family: "Archer A", "Archer B";
		font-weight: 700; 
		font-style: normal;
		width: 500px;
		font-size: 24px;
		line-height: 27px;
		margin-left: 200px;
	}


	.overview-copy
	{
		width: 700px;
		font-size: 24px;
		line-height: 27px;
		margin-left: 300px;
	}


    .overview-copy h4, .features-copy h4
    {
        margin: 0;
        padding: 0;
    }


    .overview-copy p
    {
        margin: 5px 0 25px 0;
    }


	.clear
	{
		clear: both;
	}


    .features
    {
        width: 100%;
        margin: 50px 0 0 0;
        padding: 0 0 50px 0;
        border-bottom: 1px solid #cccccc;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    }


	.features-copy
	{
		width: 90%;
		font-size: 18px;
		line-height: 36px;
		margin-left: 200px;
	}

	
	.features h4
	{
		font-size: 24px;
	}


    .features-copy .features-list, .features-copy .cards-list 
    {
        padding: 0 0 0 10px;
        margin: 0;
        margin-bottom: 75px;
        list-style: none;
    }


    .features-copy ul.features-list li:before 
    {
        content: "\002D";
        position: relative;
        left: -0.5em;
    }


    .features-copy .cards-list 
    {
        padding: 0;
        width: 200px;
    }


    .features-copy .cards-list li:hover
    {
        color: #e93726;
    }


    .card-flyout .card-description
    {
        font-size: 12px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        color: #444444;
        display: inline-block; 
        width: 48%;
        height: auto; 
        vertical-align: middle;
    }

    
	.card-wrapper
	{
		position: absolute;
	}


    .card-flyout .card-description h4
    {
        font-size: 14px;
        margin: 0;
        padding: 0;
    }
    
    
    .card-flyout .card-description p
    {
        margin: 3px 0 0 0;
        padding: 0;
    }


    .card-flyout .card-image
    {
	    display: inline-block; 
	    height: auto; 
	    vertical-align: middle;
	    margin-left: 50px;
	}
	
	
    .card-flyout 
    {
        position: relative;
        max-width: 500px;
        width: 500px;
        display: none;
        background: #ffffff;
        border: 3px solid #ff0000;
        padding: 30px 50px 30px 50px;
        margin: 0;
        -ms-user-select: none;
        zoom: 1;
        -webkit-transform: translate3d(0,0,0);
        line-height: normal;
        text-align: left;
        z-index: 100;
    }
    
    
    #sic-4-flyout, #sec-4-flyout, #sac-4-flyout, #soc-4-flyout, #stc-2-flyout, #svc-2-flyout, #scm-1-flyout, #dan-1-flyout 
    {
        left: 150px;
        top: -110px;
    }
    
    
    .card-flyout .card-arrow 
    {
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent; 
		border-right:30px solid #ff0000; 
        width: 0;
        height: 0;
        position: absolute;
        left: -30px;
        top: 60px;
    }


    .card-flyout .card-arrow-inner 
    {
		border-top: 30px solid transparent;
		border-bottom: 30px solid transparent; 
		border-right:30px solid #ffffff; 
        width: 0;
        height: 0;
        position: absolute;
        left: 4px;
        top: -30px;
    }



	/* FOOTER STYLES
	--------------------------------------------------------- */

    footer 
    {
        clear: both;
    }


    footer > div 
    { 
        max-width: 1170px;
        margin: 0 auto;
    }


    .global-footer 
    {
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }


    .not-legal 
    {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        min-height: 42px;
        background-color: #111111;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1001;
        opacity: 0;
        max-width: 100%;
        -webkit-transition: all 0.6s ease-out;
        transition: all 0.6s ease-out;
        opacity: 1;
    }


    .not-legal:hover, .global-footer-active .global-footer .not-legal 
    {
        background-color: #111111;
        background-color: rgba(0, 0, 0, 0.9);
    }


    .not-legal nav 
    {
        max-width: 1400px;
        margin: 0 auto;
    }


    .global-footer a span, .global-footer a i
    {
        color: #ffffff;
    }


    .global-footer .global-footer-language-link, .global-footer .global-footer-products-link 
    {
        display: block;
        height: 20px;
        line-height: 20px;
        padding: 3px 6px 2px 6px;
        border: 1px solid #FFF;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        font-size: 13px;
    }


    .global-footer-nav:before, .global-footer-nav:after 
    {
        content: " ";
        display: table;
    }


    .global-footer-nav:after 
    {
        clear: both;
    }


    .global-footer-nav ul
    {
        float: left;
    }


    .global-footer-nav ul + ul 
    {
        float: right;
    }


    .global-footer-nav ul li a 
    {
        display: block;
        margin-left: 7px;
        margin-right: 7px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        font-size: 14px;
        font-weight: normal;
        color: #ffffff;
        height: 42px;
        line-height: 42px;
    }


    .global-footer-nav ul li a span + i, .global-footer-nav ul li a i + span 
    {
        margin-left: 0.25em;
    }


    .global-footer-nav ul li a.global-footer-nav-link:hover span 
    {
        border-bottom: 2px solid #e93726;
    }


    .global-footer-nav ul li a.global-footer-nav-link:hover, .global-footer-nav ul li a.global-footer-products-link:hover, .global-footer-nav ul li a.global-footer-language-link:hover
    {
        color: #ffffff;
        text-decoration: none;
    }


    .global-footer-products-link, .global-footer-language-link 
    {
        display: block;
        height: 20px;
        line-height: 20px;
        padding: 3px 6px 2px 6px;
        border: 1px solid #FFF;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
        font-size: 13px;
    }


    .global-footer-nav .global-footer-nav-minify 
    {
        display: none;
        float: none;
    }


    .global-footer-nav .global-footer-nav-minify:before, .global-footer-nav .global-footer-nav-minify:after 
    {
        content: " ";
        display: table;
    }


    .global-footer-nav .global-footer-nav-minify:after 
    {
        clear: both;
    }


    .global-footer-nav .global-footer-nav-minify li 
    {
        float: left;
    }


    .global-footer-nav .global-footer-nav-minify li + li 
    {
        float: right;
    }


    .text-only
    {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        border: 0;
    }



	/* FOOTER LEGAL STYLES
	--------------------------------------------------------- */

    .legal 
    {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 20px;
        padding-bottom: 70px;
        max-width: 1170px;
    }


    .legal p, .legal li, .legal a 
    {
        font-size: 14px;
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    }


    .legal a:hover 
    {
        text-decoration: none;
    }


    .legal p 
    {
        display: -moz-inline-stack;
        display: inline-block;
        margin-right: 10px;
    }


    .legal ul, .global-footer-nav ul
    {
        display: -moz-inline-stack;
        display: inline-block;
        padding: 0;
        margin: 0;
        list-style: none;
    }


    .legal ul li, .global-footer-nav ul li
    {
        display: -moz-inline-stack;
        display: inline-block;
    }


    .legal ul li + li 
    {
        position: relative;
        margin-left: 0.5em;
    }


    .legal ul li + li:before 
    {
        content: "|";
        position: absolute;
        left: -0.5em;
    }



	/* FOOTER MODAL STYLES
	--------------------------------------------------------- */

    .global-products-modal 
    {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: none;
        position: fixed;
        max-width: 630px;
        width: 100%;
        border: 15px solid #111111;
        border: 15px solid rgba(0, 0, 0, 0.7);
        text-align: center;
        z-index: 2050;
    }


    .global-languages-modal 
    {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        display: none;
        position: fixed;
        max-width: 125px;
        width: 100%;
        border: 15px solid #111111;
        border: 15px solid rgba(0, 0, 0, 0.7);
        text-align: center;
        z-index: 2050;
    }


    .global-products-modal.global-products-modal-active, .global-languages-modal.global-languages-modal-active
    {
        display: block;
    }


    .global-products-modal > *, .global-languages-modal > * 
    {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        padding: 15px;
        background-color: #ffffff;
    }


    .global-products-modal > div, .global-languages-modal > div
    {
        max-width: 100%;
        background-color: #ffffff;
    }


    .global-products-modal .row, .global-languages-modal .row
    {
        display: table;
        padding: 0;
        margin: 0;
    }


    .global-products-modal .column, .global-languages-modal .column 
    {
        display: table-cell;
        float: none;
        padding: 15px;
        margin: 0;
    }


    .global-products-modal ul, .global-languages-modal ul 
    {
        padding: 0;
        margin: 0;
        list-style: none;
    }


    .global-products-modal ul li, .global-languages-modal ul li 
    {
        display: block;
        position: relative;
        padding: 0 0 0 10px;
        margin-bottom: 12px;
    }


    .global-products-modal ul li a, .global-languages-modal ul li a 
    {
        display: block;
        margin-left: 0;
        font-size: 12px;
        text-align: left;
        white-space: nowrap;
    }


    .global-products-modal ul li a span, .global-languages-modal ul li a span 
    {
        font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    }



